[submodule "gloomy-func1"]
	path = gloomy-func1
	url = https://github.com/Geogi/gloomy-func1.git
[submodule "gloomy-set-commands"]
	path = gloomy-set-commands
	url = https://github.com/Geogi/gloomy-set-commands.git
